
.employee_info {
    padding: 5px;
    border-radius: 50px;
    color: #3f3f3f;
    font-weight: bold;
    cursor: pointer;
    width: 235px;
    font-size: 10px;
}
.employee_info img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #000;
}
.employee-data {
    display: flex;
    padding: 10px;
    background: #fff7d2;
    border-radius: 10px;
    margin-bottom: 20px;
}
.employee-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center center !important;
    background-size: cover !important;
    border: 2px solid #c2c6ca;
}
.employee-details b {
    font-weight: bold;
}
.employee-details {
    padding: 10px 20px;
}
.time-set {
    background: #79c9ff;
    border-radius: 5px;
    padding: 12px 9px;
    display: block;
    color: #fff;
    width: 250px;
}
.time-set>span {
    display: block;
    text-align: center;
}
span.time-range {
    font-weight: bold;
    font-size: 12px;
}
span.assignment {
    font-size: 10px;
}
button.add-schedule {
    padding: 10px;
    display: block;
    width: 100%;
    border: 0px;
    background: transparent;
    color: #ccc;
    outline: none;
    border-radius: 50px;
}
button.add-schedule:hover {
    background: #eee;
}
button.add-schedule:focus {
    outline: none;
}
.time-set.off {
    background: #ff8383;
}
.btn-action {
    padding: 10px 15px !important;
}
button.btn.btn-secondary.buttons-csv.buttons-html5 {
    background: #30bf30 !important;
    color: #fff !important;
}
